{{ define "main" }}
  <div class="hx:mx-auto hx:flex hextra-max-page-width">
    {{ partial "sidebar.html" (dict "context" . "disableSidebar" true "displayPlaceholder" true) }}
    <article class="hx:w-full hx:break-words hx:flex hx:min-h-[calc(100vh-var(--navbar-height))] hx:min-w-0 hx:justify-center hx:pb-8 hx:pr-[calc(env(safe-area-inset-right)-1.5rem)]">
      <main id="content" class="hx:w-full hx:min-w-0 hextra-max-content-width hx:px-6 hx:pt-4 hx:md:px-12">
        {{ partial "breadcrumb.html" (dict "page" . "enable" false) }}
        {{ if .Title }}<h1 class="site-list-title">{{ .Title }}</h1>{{ end }}
        <div class="content">{{ .Content }}</div>
        {{- $pages := partial "utils/sort-pages" (dict "page" . "by" site.Params.blog.list.sortBy "order" site.Params.blog.list.sortOrder) -}}
        {{- $pagerSize := site.Params.blog.list.pagerSize | default 10 -}}
        {{- $paginator := .Paginate $pages $pagerSize -}}
        <ul class="site-post-list">
          {{- range $paginator.Pages }}
            <li class="site-post-item">
              {{ partial "post-meta.html" (dict "page" . "showReadingTime" true) }}
              <h3 class="site-post-item__title">
                <a href="{{ .RelPermalink }}">{{ .Title }}<span class="site-post-item__arrow" aria-hidden="true">→</span></a>
              </h3>
              <p class="site-post-item__summary">{{- partial "utils/page-description" . -}}</p>
            </li>
          {{ end -}}
        </ul>
        {{- if gt $paginator.TotalPages 1 -}}
          {{ partial "components/blog-pager.html" $paginator }}
        {{- end -}}
      </main>
    </article>
    <div class="hx:max-xl:hidden hx:h-0 hx:w-64 hx:shrink-0"></div>
  </div>
{{- end -}}
